.table.event {
	table-layout: fixed;
}
.table .satu{
	width: 12px;
	text-align: center;
	vertical-align: middle;
}
.table .dua{
	width: 10%;
	vertical-align: middle;
}
.table .tiga{
	vertical-align: middle;
	width: 20%;
}
.table .tiga p{
	vertical-align: middle;
	line-height: 1.5em;
	max-height: 3em;
	overflow: hidden;
	margin-bottom: 0px;
}

.table .empat{
	width: 70%
}
.table .empat p{
	line-height: 1.5em;
	max-height: 3em;
	overflow: hidden;
	margin-bottom: 0px;
	
}
.table .lima{
	width: 100px;
	text-align: center;
	vertical-align: middle;
}

.table .s-satu{
	width: 12px;
	text-align: center;
	vertical-align: middle;
}
.table .s-dua{
	width: 10%;
	vertical-align: middle;
}
.table .s-nomer{
	width: 12%;
	vertical-align: middle;
}

.table .s-tiga{
	vertical-align: middle;
	width: 18%;
}
.table .s-tiga p{
	vertical-align: middle;
	line-height: 1.5em;
	max-height: 3em;
	overflow: hidden;
	margin-bottom: 0px;
}

.table .s-empat{
	width: 40%
}
.table .s-empat p{
	line-height: 1.5em;
	max-height: 3em;
	overflow: hidden;
	margin-bottom: 0px;
	
}
.mid.dua{
	text-align: center;
}
.table .s-lima{
	width: 50px;
	text-align: center;
	vertical-align: middle;
}

.table .m-satu{
	vertical-align: middle;
}
.table .m-dua{
	width: 20%;
	vertical-align: middle;
}

.table .m-tiga{
	vertical-align: middle;
	text-align: center;
	width: 10%;
}
.table .m-tiga p{
	vertical-align: middle;
	line-height: 1.5em;
	max-height: 3em;
	overflow: hidden;
	margin-bottom: 0px;
}

.table .m-empat{
	width: 40%
}
.table .m-empat p{
	line-height: 1.5em;
	max-height: 3em;
	overflow: hidden;
	margin-bottom: 0px;
	
}
.owl-carousel .owl-item .event-img{
	margin: auto;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
}
.event-img-div{
	background-size: cover;
	text-align: center;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.event-deskripsi{
	line-height: 1.5em;
	max-height: 9em;
	overflow: hidden;
	margin-bottom: 0px;
}
td #tmpGambar{
	height: auto;
	max-width: 80%
}


#bdr-ft{
	display: table-cell;
	height: 90px;
	text-align: center;
	vertical-align: middle;
}

#blah{
	margin: auto;
	max-height: 90px;
}

input.kanan{
	float: right;
}
button.kanan{
	float: right;
}
div.controls{
	vertical-align: middle;
}